In [15]:
import pandas as pd
import numpy as np

3250 Foundations of Data Science Jan-April 2020 <br>
Group 7 <br>
Member: Albert Mendoza <br>
Prof: Irina Sedenko

# 1. Clean Data

### clean 15-19 data

Dataset gathered from open-source Canadian Government website which houses immigration, number of citizenship requests and number of Canadian Citizens
Link: https://open.canada.ca/data/en/dataset/9b34e712-513f-44e9-babf-9df4f7256550

Csv file shows life of New Immigrated Canadian Citizens from 2015-2019.

In [21]:
can1519 = pd.read_excel("1519 Canada immigration.xls",
                        na_values= 0,
                        Header = None,
                        index_col = 0,
                        names = ["Country",2015,2016,2017,2018,2019],
                        skiprows = [0,1,238,239,240,241,242,243,244,245],
                        usecols = [0,13,26,39,52,65]
                       )
can1519

                       2015      2016      2017      2018      2019
Country
Total              252192.0  147822.0  106376.0  176486.0  249684.0
Afghanistan          1882.0    1596.0    1187.0    1342.0    1977.0
Albania               604.0     359.0     229.0     454.0     631.0
Algeria              5695.0    2468.0    2004.0    3340.0    4243.0
American Samoa          NaN       1.0       NaN       NaN       1.0
...                     ...       ...       ...       ...       ...
Wallis and Futuna       NaN       NaN       NaN       1.0       NaN
Yemen                 181.0     115.0      80.0     216.0     230.0
Yugoslavia            183.0     130.0      60.0     103.0     108.0
Zambia                129.0      78.0      54.0      75.0     104.0
Zimbabwe              624.0     362.0     235.0     361.0     413.0

[235 rows x 5 columns]

In [22]:
#filled NA
can1519.fillna(0, inplace=True)
can1519

                       2015      2016      2017      2018      2019
Country
Total              252192.0  147822.0  106376.0  176486.0  249684.0
Afghanistan          1882.0    1596.0    1187.0    1342.0    1977.0
Albania               604.0     359.0     229.0     454.0     631.0
Algeria              5695.0    2468.0    2004.0    3340.0    4243.0
American Samoa          0.0       1.0       0.0       0.0       1.0
...                     ...       ...       ...       ...       ...
Wallis and Futuna       0.0       0.0       0.0       1.0       0.0
Yemen                 181.0     115.0      80.0     216.0     230.0
Yugoslavia            183.0     130.0      60.0     103.0     108.0
Zambia                129.0      78.0      54.0      75.0     104.0
Zimbabwe              624.0     362.0     235.0     361.0     413.0

[235 rows x 5 columns]

In [29]:
#save the data name it "newdf1519.csv"
can1519.to_csv ('cleanedimmigration1519.csv', 
                    header=True)

### Clean 1980-2013 immigration data
 
Second Data set for Canadian Citizen Immigrants was from Report and statistics Canada for Immigration Refugees and Canadian Citizens
1980-2013

Link: https://www.kaggle.com/roshansharma/immigration-to-canada-ibm-dataset

In [62]:
can= pd.read_excel("Canada immigration.xlsx",
                        skiprows = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,218,217],
                        na_values= "0",
                        sheet_name="Canada by Citizenship",
                        #index_col = 0,
                        header = 1,
                        
                        usecols = [2,4,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42]
                       )
#rename and set index
can.rename(columns={'OdName': "Country", "AreaName":"Region", "DevName":'Status'}, inplace = True )
can2 = can.set_index('Country')
can2

,Region,Status,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Developing regions,16,39,39,47,71,340,496,741,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Europe,Developed regions,1,0,0,0,0,0,1,2,...,1450,1223,856,702,560,716,561,539,620,603
Algeria,Africa,Developing regions,80,67,71,69,63,44,69,132,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
American Samoa,Oceania,Developing regions,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
Andorra,Europe,Developed regions,0,0,0,0,0,0,2,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
Western Sahara,Africa,Developing regions,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Yemen,Asia,Developing regions,1,2,1,6,0,18,7,12,...,124,161,140,122,133,128,211,160,174,217
Zambia,Africa,Developing regions,11,17,11,7,16,9,15,23,...,56,91,77,71,64,60,102,69,46,59
Zimbabwe,Africa,Developing regions,72,114,102,44,32,29,43,68,...,1450,615,454,663,611,508,494,434,437,407

In [63]:
can2.to_csv ('cleanedimmigration.csv', header=True)